.boilerbox {
  display: flex;
  flex-direction: column;
  position: relative;

  min-width: 300px;
  padding: 50px 50px 80px;
  border-radius: 20px;
  background-color: var(--main-darkGreen);

  text-align: center;
  color: var(--main-white);

  gap: 40px;
  box-shadow: 0px 3px 6px #00000029;
}

.boilerbox > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.boilerbox img {
  width: 100%;
}

.dateYear {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  font-size: 13px;
  left: 0;
  right: 0;
  gap: 3px;
}

.dateYear svg {
  font-size: 15px;
}
